
@font-face {
  font-family: 'Gabarito';
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/gabarito/v1/something.woff2') format('woff2');
}

@font-face {
  font-family: 'Alata';
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/alata/v9/FVZRt_VfQxKCHovzaA.woff2') format('woff2');
}

.App {
  text-align: center;
}

h3 {
  color: white;
  font-family: "Gabarito", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  text-decoration-skip-ink: auto;

}

p, h1 {
  color: white;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  letter-spacing: -0.41px;
  text-align: left;
  text-decoration-skip-ink: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
